html, body {
  margin: 0;
  height: 100%;
  background: #111;
}

#map {
  height: 100vh;
  width: 100%;
  background: #111;
}

.leaflet-container {
  background: #111;
}

.leaflet-tile {
  filter: grayscale(100%) contrast(170%) brightness(65%);
}

/* remove the fake texture for now */
#map::after {
  display: none;
}

.label {
  color: #fff;
  font-family: monospace;
  font-size: 10px;
  text-shadow: 0 0 3px #000, 0 0 6px #000;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.leaflet-tooltip.label {
  background: transparent;
  border: none;
  box-shadow: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}

.leaflet-control-layers {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}
